{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! Each post will be output using this markup }}
{{#foreach posts}}

<div class="row">
    <div class="col-lg-12">
        <article class="{{post_class}}">
            <header class="post-header">
                <h2 class="post-title">
                    <a href="{{url}}">{{{title}}}</a>
                </h2>
                <span class="post-meta text-muted">
                    <time datatime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                    {{#if tags}} on {{tags}}{{/if}}
                </span>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt words=80}}&hellip;</p>
            </section>
            <footer class="post-meta">
                {{#if author.image}}<img class="author-thumb img-circle" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
                {{author}}
                {{tags prefix=" on "}}
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </footer>
        </article>
    </div>
</div>

{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}
